@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
* {
  vertical-align: baseline;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
div {
  position: relative;
}
.wrapper {
  border-radius: 3px;
  position: relative;
  margin: 5% auto;
  width: 600px;
  padding: 40px 40px;
  display: table;
  background-color: #fff;
}
 .quote-container {
    margin: auto;
    width: 500px;
    height: auto;
    /*clear: both;*/
  }
.quote-text i {
   vertical-align: top;
}
span#text {
   margin: 0;
   padding: 5px;
   display: inline-block;
   width: 460px;
   text-align: center;
   font-weight: 500;
   font-size: 1.9em;
   border-left: 1px solid red;
   border-right: 1px solid red;
}
.quote-author {
    width: 500px;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-weight: 400;
    font-size: 1.4em; 
}
.btn-group {
   margin-top: 15px;
   margin-bottom: 25px;
}
.footer {
   font-weight: 400;
   font-size: 1.2em;
   color: #337ab7;
}
.footer a {
   margin-top: 10px;
   font-weight: 500;
   text-decoration: underline;
}